__pycache__
*.py[cod]
*$py.class

.idea
.DS_Store

# Ignore the compiled files
python-libraries/narupa-core/src/narupa/protocol
csharp-libraries/Narupa.Protocol/obj
csharp-libraries/Narupa.Protocol/bin
csharp-libraries/Narupa.Protocol.Test/obj
csharp-libraries/Narupa.Protocol.Test/bin

# Ignore egg-info files
*.egg-info/

# Ignore coverage data
.coverage
htmlcov

.pytest_cache

.hypothesis/
*.DotSettings.user

python-libraries/narupa-ase/examples/\.ipynb_checkpoints/
.mypy_cache/
csharp-libraries/Essd.Test/bin/
csharp-libraries/Essd.Test/obj/

csharp-libraries/Essd/bin/

csharp-libraries/Essd/obj/

csharp-libraries/EssdClientCLI/bin/

csharp-libraries/EssdClientCLI/obj/

examples/ase/.ipynb_checkpoints/

examples/mdanalysis/.ipynb_checkpoints/

examples/ase/neuraminidase_narupa.xml

examples/fundamentals/.ipynb_checkpoints/

examples/examples/lmp

examples/examples/log\.lammps
